## Notas- Operaciones matematicas 
### Adicion (Suma)

In [ ]:
# Python se usa "+" para la adicion. usando "+" entre dos numeros los suma y proporciona el total.
answer = 50 + 67
print(answer)

  117

### Sutraccion (Resta)

In [ ]:
# Del mismo modo, Python utiliza para la resta. El uso de entre dos numeros resta los dos numeros y proporciona la diferencia.-- 
difference = 50 - 67
print(diferrence)

17
### Multiplicacion

In [ ]:
# En Python, es el operador de multiplicacion. Proporciona el producto de dos numeros:*
product = 50 * 12
print(product)

600

### Division

In [ ]:
quotient = 50 / 7
print(quotient)

7.1

### Trabajar con la division

In [ ]:
# Convertir un numero de segundos en minutos y segundos para la visualizacion.
seconds = 1042
# Para realizar la dvision de piso en PYthon, Utilizamos. 10426017.366666717//
seconds = 1042
display_minutes = 1042 // 60 
print(display_minutes) = 1042 % 60
print(display_minutes)

17

In [ ]:
# Puedes encontrar el resto utilizando el operador
# del modulo.1042modulo%1042 / 6022
seconds = 1042
display_minutes = 1042 // 60
display_seconds = 1042 % 60

print(display_minutes)
print(display_seconds)

17

22


### Orden de funcionamiento (Jerarquia de Operaciones)

In [ ]:
# 1.- Parentisis
# 2.- Exponentes
# 3.- Multiplicacion y division
# 4.- Suma y resta
result_1 = 1032 + 26 * 2
result_2 = 1032 + (26 * 2)
print(result_1)
print(result_2)

1084

1084

### Convertir cadenas en numeros

In [ ]:
#Convertir cadenas en numeros indicamos el tipo de numero que desamos crear
# El si se necesita un numero entero o de un punto decimal 
demo_int=('215')
print(demo_int)

215

In [ ]:
demo_float = float('215.3')
print(demo_float)

215.3

### Valores absolutos

In [ ]:
a = 39 - 16
b = 36 - 19
print(abs(39 -16))
print(abs(16 - 39))

23

23

### Redondeo

In [ ]:
# Redondeo
printt (round(14.5))

14

### Ejercicio Kata 5

#### Ejercicio 1 - Utilizar operadores aritmeticos

In [ ]:
# Crear variables para almacenar las dos distancias
# Asegurandose de quitar las comas!
Dist_Tierra= 14597870
dist_Jupiter= 77857200

In [ ]:
# Calcular la distancia entre planetas
Resta= abs(Dist_Tierra-Dist_Jupiter)
Millas= (Resta)
print(Resta)
print(round)(Millas))

628949330

390577534

#### Ejercicio 2:convierte cadenas en numeros y usa valores absolutos

In [ ]:
# Usuando input, agrega el codigo para Leer la distancia del sol
# para cada planeta, considerando 2 planetas.
# Alamcenar las entradas del usuario 
# Pista: variable = inpunt("¿Cual es tu nombre?")
captura=input("¿Captura la distancia del sol para cada planeta?")
# 50000
captura2=input("Capptura la distancia del sol para cada planeta?")
# 1200000

In [ ]:
# Convierte las cadenas de ambos planetas o numeros enteros
captura=(int(captura))
captura2=(int(captura2))

In [ ]:
# Realizar el calculo y determinar el valor absoluto
result= abs((captura_captura2))
print(result)
# Conversion= result *0.621
prin(conversion)

In [ ]:
91700000
56945700.0